.iransans {
  font-family: IRANSans, sans-serif;
}
html {
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  overflow-x: hidden;
  overflow-y: visible;
  font-size: 14px;
  background-color: #f6f6f6;
}
a {
  text-decoration: none !important;
  color: #2f82cb;
}
a:hover {
  color: #4094e2;
}

.text-primary {
  color: #2f82cb !important;
}
.image-invert {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
hr {
  margin-top: 0.6rem;
  margin-bottom: 0.7rem;
}

/********************** header **********************/
.header {
  background: url("../images/heade.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

.header h1 {
  font-size: 25px;
}

.header p {
  font-size: 14px;
  line-height: 30px;
}

.header img.split {
  margin: 0 -2px;
  min-width: 100%;
}

/